<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img class="img" src="../../assets/img/LogoNavbar.png" >
  <h1 id="h1Titulo">Campoy Lira Juan Antonio</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
    <span class="navbar-toggler-icon"></span>
    Menu
  </button>

  <div class="navCollapseCustom collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item active">
        <a class="nav-link " href="/#/" >Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/#/experiencia">Experiencia y cursos</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sitios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://platzi.com/p/Campoy/">Platzi</a>
          <a class="dropdown-item" href="https://trello.com/b/76QoYmfh/estudio-programaci%C3%B3n">Trello</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">Linkedin</a>
          <a class="dropdown-item" href="https://github.com/CampoyLira1994">GitHub</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link " type="button"  data-toggle="modal" data-target=".bd-example-modal-lg">Cv</a>
      </li>
    </ul>

  </div>
</nav>


