#h1Titulo{
  color: #dee2e6;
  font-size: 16px;
  text-align: left;
}


.img{
  width: 15%;
  height: 15%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.navbar{
  padding: 0%;
}

@media(min-width: 450px) {

  #h1Titulo{
    color: #dee2e6;
    font-size: 25px;
  }

  }

  @media(min-width: 768px) {

  #h1Titulo{
    color: #dee2e6;
    font-size: 25px;
  }

  .img{
    width: 10%;
  }
}

@media(min-width: 1024px) {

  #h1Titulo{
    color: #dee2e6;
    font-size: 25px;
  }

  .img{
    width: 7%;
  }

}