<div style="margin: 2%">
  <a type="button" (click)="scrollToElement(target)">
    <img src="../../assets/img/Cont.png" width="50" height="50" />
    <b> Contacto </b></a>
  <!-- <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
  <label class="custom-control-label" for="customCheckDisabled">Check this custom checkbox</label> -->
</div>

<div>
  <h1 class="display-4" style="margin: 2%">¿QUÉ TÉCNOLOGÍAS UTILIZO?</h1>

  <form>
    <div class="form-group">
      <p style="margin: 4%">
        Principal mente desarrollando en <strong>angular con typescript</strong> especializando en <strong>Front-end</strong> con la
        tendencia de diseño de <strong>mobile first design</strong> mediante <strong>Media query</strong> con CSS o Bootstrap, Prime NG y Angular material.
        Del lado del <strong>Back-end</strong> se maneja <strong> Api rest con asp.net y (entity framework) </strong> para el mapeo de las entidades de la
        base de datos los ID para las bases de datos que se han ocupado son <strong> mysql, Sql Server y Oracle SQL developer.</strong>
      </p>
    </div>
  </form>
  <br />
  <hr />
  <br />

  <div class="container">

    <img class="logoAngular" src="../../assets/img/Angular_Typescript.png" />

    <div class="progress bar1">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%"
        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
        60%
      </div>
    </div>


    <img class="logoJavaEE" src="../../assets/img/java-ee.png" />

    <div class="bar2 progress">
      <div class=" progress-bar progress-bar-striped progress-bar-animated bg-success " role="progressbar"
        style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        50%
      </div>
    </div>

    <img class="logoGitHub" src="../../assets/img/Github.png" />

    <div class="bar3 progress">
      <div class=" progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
        style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        30%
      </div>
    </div>

    <img class="logoDocker" src="../../assets/img/DockerBlack.png" />

    <div class="bar4 progress">
      <div class=" progress-bar progress-bar-striped progress-bar-animated bg-dark
          " role="progressbar" style="width: 10%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        10%
      </div>
    </div>

    <img class="logoPLSQL" src="../../assets/img/PLSQL.png" />

    <div class="bar5 progress">
      <div class="
            progress-bar progress-bar-striped progress-bar-animated
            bg-danger
          " role="progressbar" style="width: 35%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        35%
      </div>
    </div>

    <img class="logoFirebase" src="../../assets/img/logo-standard.png" />

    <div class="bar6 progress">
      <div class="
            progress-bar progress-bar-striped progress-bar-animated
            bg-warning
          " role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        10%
      </div>
    </div>

    <img class="logoTrello" src="../../assets/img/Trello-Logo.png" />

    <div class="bar7 progress">
      <div class="
            progress-bar progress-bar-striped progress-bar-animated

          " role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        80%
      </div>
    </div>

    <img class="logoHTMLCSS" src="../../assets/img/HTML5&CSS.png" />

    <div class="bar8 progress">
      <div class="
            progress-bar progress-bar-striped progress-bar-animated
            bg-success
          " role="progressbar" style="width: 45%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        45%
      </div>
    </div>

    <img class="logoBootstrap" src="../../assets/img/Bootstrap-Logo.png" />

    <div class="bar9 progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 65%"
        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
        65%
      </div>
    </div>


  </div>

</div>

<br />
<hr />
<br />


<div class="container">
  <div class="box1C1">
    <img id="logoPlatzi" src="../../assets/img/com.platzi.platzi.jpg" />
  </div>
  <div class="box2C1">
    <img id="logoUdemy" src="../../assets/img/Udemy.png" />
  </div>
  <br /><br /><br /><br /><br />

  <div class="container">
    <div class="box1C2">
      <h1>
        Cursos
      </h1>
    </div>
    <div class="box2C2">
      <div id="carouselExampleControls" data-interval="2000" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/img/diploma-angular-avanzado_page-0001.jpg"
              alt="First slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/diploma-aprender_page-0001.jpg" alt="Second slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/diploma-docker-2018_page-0001.jpg" alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/diploma-git-github_page-0001.jpg" alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/diploma-jee-2017_page-0001.jpg" alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/PLATZI-diploma-basico-javascript_page-0001.jpg"
              alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/diploma-pensamiento-logico-2018_page-0001.jpg"
              alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/diploma-trello_page-0001.jpg" alt="Third slide" />
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!--INICIO NUEVO CARRUCEL-->

    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="..." alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->

    <!--FIN NUEVO CARRUCEL-->
  </div>

</div>

<br /><br /><br />

<div #target></div>