<body>

  <div id="fondo" class="p-3 bg-dark">

    <div class="container">
      <div class="box1">
        <img class="circular" src="../../assets/img/CAMPOY.jpg" alt="Logo de la conferencia" />
      </div>

      <div class="box2">
        <br><br>
        <h1 class="titulo">Web Development</h1>
      </div>
    </div>

  </div>


  <br>
  <div style="margin-left: 2%;">
    <a type="button" (click)="scrollToElement(target)">
      <img class="imgContacto" src="../../assets/img/Cont.png" /><b> Contacto </b></a>
    <!-- <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
    <label class="custom-control-label" for="customCheckDisabled">Check this custom checkbox</label> -->
  </div>
  <br>





  <div class="container bg-white">


    <div class="c1">
      <div class="card">
        <div class=" card-body">
          <h5 class="card-title">Sobre Mi</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">¿Qué servicios hago?</li>
          <div class="card-body">
            <p class="card-text">
              Desarrollo <strong>(Front-end, responsive design, PWA, Mobile First)</strong>
              asi como <strong>(Back-end).</strong>
              Constantemente se toman nuevos curso de desarrollo para crear nuevas habilidades 
              en función a las actuales demandas y tendencias tecnológicas 
              desarrollo de aplicaciones web en general. Apasionado de la tecnología
              siempre buscando la manera de hacer mejoras dentro de las mismas o con nuevas tecnologías.
            </p>
          </div>
        </ul>
      </div>
    </div>



    <div class="c2">
      <img class="logoHttp" alt="Responsive image" src="../../assets/img/leng4.png" alt="Third slide" />
    </div>

  </div>
</body>

<br>

<div #target></div>